<!--<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fbeggersstreet%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-centered">
      <h1 style="text-align: center;">FIND US</h1>
      <div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=iskcon%20ghaziabad&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.pureblack.de/google-maps/"></a></div><style>.mapouter{text-align:right;height:500px;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:100%;}</style></div>
    </div>
  </div>
</div>
<br/>
<div class="container-fluid contact-bg">
  <div class="row">
    <div class="text-center">
      <div class="col-md-6 col-xs-12 col-lg-6 col-sm-6 col-centered">
        <div style="align-self: center; align-content: center;">
          <div style="padding: auto;margin-top: 10px;margin-bottom: 20px;justify-content: center">

            <mat-card>
              <mat-card-content>
                <mat-card-title>Any Message?</mat-card-title>
                Drop your message here in this form alongwith your details.


                <form [formGroup]="contactForm">
                  <div class="example-container">
                    <mat-form-field>
                      <input matInput placeholder="Full Name" formControlName="name" required >
                      <mat-error *ngIf="contactForm.get('name').hasError('required')">
                        Please Enter your Name
                      </mat-error>

                    </mat-form-field>

                    <mat-form-field>
                      <input matInput placeholder="Contact/Whatsapp Number" formControlName="contact" type="text" required>
                      <mat-error *ngIf="contactForm.get('contact').hasError('required')">
                        Please Enter your Contact
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                      <input matInput placeholder="Email" formControlName="email" type="email" required>
                      <mat-error *ngIf="contactForm.get('email').hasError('required')">
                        Please Enter your Email
                      </mat-error>
                      <mat-error *ngIf="contactForm.get('email').hasError('email')">
                        Enter a Valid Email
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                      <textarea style="height: 100px;" matInput placeholder="Message" formControlName="message" type="text">
                      </textarea>
                      <mat-error *ngIf="contactForm.get('message').hasError('required')">
                      Please Enter your Message
                      </mat-error>
                    </mat-form-field>

                  </div>
                  <button mat-raised-button style="background-color: #FDC600; font-weight: bolder" (click)="sendMessage()">Send</button>
                </form>

              </mat-card-content>

            </mat-card>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid social">
  <h1 style="text-align: center;">Get connected</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="fb-page" data-href="https://www.facebook.com/IYFDelhiOfficial/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/IYFDelhiOfficial/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/IYFDelhiOfficial/">ISKCON Youth Forum</a></blockquote></div>
    </div>
    <!--<div class="col-md-4">-->
      <!--<div class="row">-->
        <!--<h4 style="text-align: center">Whatsapp Us</h4>-->
        <!--<form [formGroup]="whatsappForm">-->
          <!--<div class="example-container">-->
            <!--<mat-form-field>-->
              <!--<textarea style="height: 120px;" matInput placeholder="Drop your query here" formControlName="waMessage">-->
              <!--</textarea>-->
            <!--</mat-form-field>-->
            <!--<button mat-flat-button style="background-color: #34af23;" (click)="sendOverWhatsapp()">Whatsapp it</button>-->
          <!--</div>-->
        <!--</form>-->
      <!--</div>-->
      <!--<div class="row message">-->
        <!--IYF is designed.-->
      <!--</div>-->
    <!--</div>-->
    <div class="col-md-4 center" style="align-content: center;">
      <div style="padding: 10px; align-content: center;">
        <div class="row hvrbox" style="padding: 5px">
          <img class="hvrbox-layer_bottom" src="../../../assets/img/similar/1.png">
          <a href="https://www.facebook.com/iskconyouthfourm.ghaziabad/">
            <div class="hvrbox-layer_top">
              <div class="hvrbox-text">LIKE OUR PAGE</div>
            </div>
          </a>
        </div>
        <div class="row hvrbox" style="padding: 5px">
          <img class="hvrbox-layer_bottom" src="../../../assets/img/similar/2.png">
          <a href="https://twitter.com/iyfdelhi">
            <div class="hvrbox-layer_top">
              <div class="hvrbox-text">FOLLOW US</div>
            </div>
          </a>
        </div>
        <div class="row hvrbox" style="padding: 5px">
          <img class="hvrbox-layer_bottom" src="../../../assets/img/similar/3.png">
          <a href="https://www.youtube.com/channel/UCZysavwqLHyZBUFpCeDuFIg">
            <div class="hvrbox-layer_top">
              <div class="hvrbox-text">SUBSCRIBE US</div>
            </div>
          </a>
        </div>
        <div class="row hvrbox" style="padding: 5px">
          <img class="hvrbox-layer_bottom" src="../../../assets/img/similar/4.png">
          <div class="hvrbox-layer_top">
            <div class="hvrbox-text">ASK US</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="message">
        <h2>CONTACT INFO</h2>
        <h2>ISKCON Youth Forum</h2>
        <h3>Sri Sri Radha Madan Mohan Temple</h3>
        <h3>R-11/35, Hare Krishna Marg,</h3>
        <h3>Block 11, Raj Nagar</h3>
        <h3>Ghaziabad-201002</h3>
        <h3>+91 9650041101</h3>
        <h3>+91 8130689529</h3>
        <h3>Email: iyf.eok@gmail.com</h3>
      </div>
    </div>
  </div>
</div>





