<div class="container">
  <div class="row">

    <div class="col-sm-10">

  Code Snippet :
  <form [formGroup]="codeForm">
    <div class="example-container">
    <mat-form-field>
      <textarea matInput  placeholder="Code" formControlName="code"  type="text" [mention]="items" [mentionConfig]="{triggerChar:'#',maxItems:2,labelKey:'name'}" >
      </textarea>
    </mat-form-field>
    <br/>
    <button mat-raised-button type="submit" (click)="execute()">Execute Code</button>
    </div>
  </form>


  <hr/>

  Console Output :

 {{output}}
    </div>
  </div>
</div>
