.navbar-nav > li > a {
  padding-top:5px;
  padding-bottom:5px;
  outline:none;
}
.navbar {
  min-height:32px;
  outline:none;
  position: fixed;
  z-index: 999;
  width: 100%;
}

a {
  outline:none;
}
