
<div class="footer-area">

  <div class=" footer">
    <div class="container">
      <div class="row">

        <div class="col-md-3 col-sm-6 wow fadeInRight animated">
          <div class="single-footer">
            <h4>About us </h4>
            <div class="footer-title-line"></div>

            <p>ISKCON Youth Forum (IYF) is the youth wing of Sri Sri Radha Parthasarathi Temple, a branch of
              the International Society for Krishna Consciousness (ISKCON). IYF is aimed towards
              nourishing the hearts of today's youth with the sublime message of the scriptures and helping
              them flourish in their lives in a wholesome manner.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 wow fadeInRight animated">
          <div class="single-footer">
            <h4>Quick links </h4>
            <div class="footer-title-line"></div>
            <ul class="footer-menu">
              <li><a href="#">Courses</a>  </li>
              <li><a href="#">Seminars</a>  </li>
              <li><a href="#">Festivals </a></li>
              <li><a href="#">Contact us</a></li>
              <li><a href="#">FAQs</a>  </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 wow fadeInRight animated">
          <div class="single-footer">
            <h4>Latest Events</h4>
            <div class="footer-title-line"></div>
            <ul class="footer-blog">
              <li>
                <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                  <a href="#">
                    <img src="assets/img/demo/1.jpg">
                  </a>
                  <span class="blg-date">24-06-2018</span>

                </div>
                <div class="col-md-8  col-sm-8 col-xs-8  blg-entry">
                  <h6> <a href="#">Udgaar 18 discourse</a></h6>
                  <p style="line-height: 17px; padding: 8px 2px;">How to approach the youth for Udgaar registrations</p>
                </div>
              </li>

              <li>
                <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                  <a href="single.html">
                    <img src="assets/img/demo/Camp1.jpg">
                  </a>
                  <span class="blg-date">22-06-2018</span>

                </div>
                <div class="col-md-8  col-sm-8 col-xs-8  blg-entry">
                  <h6> <a href="#">Art of Mind Control</a></h6>
                  <p style="line-height: 17px; padding: 8px 2px;">Talk on how to trick mind</p>
                </div>
              </li>

              <li>
                <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                  <a href="#">
                    <img src="assets/img/demo/Camp1.jpg">
                  </a>
                  <span class="blg-date">12-06-2018</span>

                </div>
                <div class="col-md-8  col-sm-8 col-xs-8  blg-entry">
                  <h6> <a href="#">Camp to Haridwar </a></h6>
                  <p style="line-height: 17px; padding: 8px 2px;">Boating, Drama, Swimming, Melodious
                    Kirtan, and much more</p>
                </div>
              </li>


            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 wow fadeInRight animated">
          <div class="single-footer news-letter">
            <h4>Stay in touch</h4>
            <div class="footer-title-line"></div>
            <ul class="footer-adress">
              <li><i class="pe-7s-map-marker strong"> </i> Sri Sri Radha Madan Mohan Temple<br>
                &emsp; &ensp;R-11/35, Raj Nagar Ghaziabad</li>
              <li><i class="pe-7s-mail strong"> </i> iyf.eok@gmail.com</li>
              <li><i class="pe-7s-call strong"> </i> +91 8130992866</li>
            </ul>



            <form>
              <div class="input-group" style="margin-top: 5px">
                <input class="form-control" type="text" placeholder="Your E-mail here">
                <span class="input-group-btn">
                                    <button class="btn btn-primary subscribe" type="button"><i class="pe-7s-paper-plane pe-2x"></i></button>
                                </span>
              </div>
              <!-- /input-group -->
            </form>

            <div class="social pull-right">
              <ul>
                <li><a class="wow fadeInUp animated" href="#"><i class="fa fa-twitter" style="color: white;"></i></a></li>
                <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.2s"><i class="fa fa-facebook" style="color: white;"></i></a></li>
                <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.3s"><i class="fa fa-google-plus" style="color: white;"></i></a></li>
                <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.4s"><i class="fa fa-instagram" style="color: white;"></i></a></li>
                <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.6s"><i class="fa fa-whatsapp" style="color: white;"></i></a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

<script>
  function successInfo (message)
  {
    var priority = 'success';
    var title    = 'Success';
    var message  = message;

    $.toaster({ priority : priority, title : title, message : message });
  }
  function successDanger (message)
  {
    var priority = 'danger';
    var title    = 'unsuccessfull';
    var message  = message;

    $.toaster({ priority : priority, title : title, message : message });
  }
</script>
