<div class="cancelseatforseminarform">
  <mat-card>
    <mat-card-title>Seat Cancelation For Seminar <strong>cancel seat</strong></mat-card-title>

    <mat-card-content>
      <form [formGroup]="cancelSeatForSeminarForm">
        <label>Reason For Cancelation</label>
        <br>
        <mat-form-field>

          <mat-select formControlName="reason">
            <mat-option value="EMEREGENCY">EMEREGENCY</mat-option>
            <!--<mat-option value="">Can Come Not Sure</mat-option>-->
          </mat-select>
          <mat-error *ngIf="cancelSeatForSeminarForm.get('reason').hasError('required')">
            Please Provide Reason For Cancelation
          </mat-error>
        </mat-form-field>

        <br/>
        <button mat-raised-button (click)="cancelSeatForSeminar()">Cancel Your Seat</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

