<div class="content-area submit-property" style="background-color: #FCFCFC;">&nbsp;
  <div class="container">
    <div class="clearfix" >
      <div class="wizard-container">

        <div class="wizard-card ct-wizard-orange" id="wizardProperty">
          <form [formGroup]="userform"  (submit)="createUser()">
            <div class="wizard-header">
              <h3>
                <b>Join </b> Us Today <br>
                <small style="color: black">
                  Get Yourself Register Here..!
                </small>
              </h3>
            </div>

            <ul>
              <li><a href="#step1" data-toggle="tab">Step 1</a></li>
              <li><a href="#step2" data-toggle="tab">Step 2</a></li>
              <!--<li><a href="#step3" data-toggle="tab">Finished </a></li>-->
            </ul>

            <div class="tab-content">

              <div class="tab-pane" id="step1">
                <div class="row p-b-15  ">
                  <h4 class="info-text"> Let's start with the basic information</h4>
                  <div class="col-sm-4 col-sm-offset-1">
                    <div class="picture-container">
                      <div class="picture">
                        <img src="https://lh3.googleusercontent.com/-wia-03mMF9o/WrYixMPdC2I/AAAAAAAA8d8/J88ffm1w-Z8NBm0KeFzgGOMENPMxDdq6wCCoYBhgL/s1024/ISKCON%2BVrindavan%2BDeity%2BDarshan%2B24%2BMar%2B2018%2B%252818%2529.jpg" width="100px" class="picture-src" title=""/>
                        <!--<input type="file" id="wizard-picture">-->
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>User Name <small>(required)</small></label>
                      <input name="username" formControlName="username" type="text"  class="form-control" placeholder="Enter Your Name"  required>
                    </div>

                    <div class="form-group">
                      <label>Email <small>(required)</small></label>
                      <input name="email" formControlName="email" type="email" class="form-control" placeholder="Enter Your Email" required>
                    </div>
                    <div class="form-group">
                      <label>Password <small>(required)</small></label>
                      <input required name="password" formControlName="password" type="password" class="form-control" placeholder="Create Your Password">
                    </div>

                    <div class="form-group" >
                      <label>Gender :</label>
                      <select required name="gender" formControlName="gender" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="Select Your Gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                      </select>
                    </div>
                    <div class="form-group" >
                      <label>State :</label>
                      <select required name="gender" formControlName="state" id="lunchBegins" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="Select Your State">
                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                        <option value="Uttrakhand">Uttrakhand</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <!--  End step 1 -->

              <div class="tab-pane" id="step2">
                <div class="row p-b-15  ">
                  <h4 class="info-text"> Contact information</h4>
                  <div class="col-sm-4 col-sm-offset-1">
                    <div class="picture-container">
                      <div class="picture">
                        <img src="https://lh3.googleusercontent.com/-wia-03mMF9o/WrYixMPdC2I/AAAAAAAA8d8/J88ffm1w-Z8NBm0KeFzgGOMENPMxDdq6wCCoYBhgL/s1024/ISKCON%2BVrindavan%2BDeity%2BDarshan%2B24%2BMar%2B2018%2B%252818%2529.jpg" width="100px" class="picture-src" id="wizardPicturePreview" title=""/>
                        <!--<input type="file" id="wizard-picture">-->
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Mobile Number<small> (required)</small></label>
                      <input name="mobileNumber" formControlName="mobileNumber" type="number" minlength="10" maxlength="10" class="form-control" placeholder="Enter Your Mobile Number"  required>
                    </div>

                    <div class="form-group">
                      <label>Alternate Mobile Number</label>
                      <input name="alternateMobileNumber" formControlName="alternateMobileNumber" type="number" minlength="10" maxlength="10" class="form-control" placeholder="Enter Your Alternate Mobile Number">
                    </div>
                    <div class="form-group">
                      <label>Your Current Address <small> (required)</small></label>
                      <input name="currentAddress" formControlName="currentAddress" type="text" class="form-control" placeholder="Enter Your Current Address" required>
                    </div>

                    <div class="form-group">
                      <label>Your Permanent Address<small> (required)</small></label>
                      <input name="permanentAddress" formControlName="permanentAddress" type="text" class="form-control" placeholder="Enter Your Permanent Address" required>
                    </div>
                    <!--<div class="form-group">-->
                      <!--<label>Your City<small> (required)</small></label>-->
                      <!--<input name="city" formControlName="city" type="select" class="form-control" placeholder="Enter Your City" required>-->

                    <!--</div>-->

                    <!--<select name="city" formControlName="city" class="form-control" placeholder="Enter your city" required>-->
                      <!--<option value="ghaziabad">GHAZIABAD</option>-->
                      <!--<option value="meerut">MEERUT</option>-->
                      <!--<option value="shimla">SHIMLA</option>-->
                    <!--</select>-->
                    <div class="form-group" *ngIf="userRole == 'ADMIN'">
                      <label>Class Level</label>
                      <select name="classLevel" formControlName="classLevel" class="selectpicker" title="Select Class Level">
                        <option value="OTP">ONE TIME PROGRAM</option>
                        <option value="SPS">Srila Prabhupada Sabha</option>
                        <option value="DYS">Discover Yourself</option>
                        <option value="VL 1">VEDIC LEVEL 1</option>
                        <option value="VL 2">VEDIC LEVEL 2</option>
                        <option value="VL 3">VEDIC LEVEL 3</option>
                        <option value="VL 4">VEDIC LEVEL 4</option>
                        <option value="VL 5">VEDIC LEVEL 5</option>
                      </select>
                    </div>

                    <div class="form-group">
                      <label>Your City</label>
                      <select required name="city" formControlName="city" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="Select Your City">
                        <option value="ghaziabad">GHAZIABAD</option>
                        <option value="meerut">MEERUT</option>
                        <option value="shimla">SHIMLA</option>

                      </select>
                    </div>


                  </div>
                </div>
              </div>
              <!-- End step 2 -->

              <!--<div class="tab-pane" id="step3">-->
                <!--<div class="row p-b-15  ">-->
                  <!--<h4 class="info-text"> Personal information</h4>-->
                  <!--<div class="col-sm-4 col-sm-offset-1">-->
                    <!--<div class="picture-container">-->
                      <!--<div class="picture">-->
                        <!--<img src="https://lh3.googleusercontent.com/-wia-03mMF9o/WrYixMPdC2I/AAAAAAAA8d8/J88ffm1w-Z8NBm0KeFzgGOMENPMxDdq6wCCoYBhgL/s1024/ISKCON%2BVrindavan%2BDeity%2BDarshan%2B24%2BMar%2B2018%2B%252818%2529.jpg" width="100px" class="picture-src" id="wizardPicturePreview" title=""/>-->
                        <!--<input type="file" id="wizard-picture">-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="col-sm-6">-->
                    <!--<div class="form-group">-->
                      <!--<label>Nearest Iskcon Temple<small>(required)</small></label>-->
                      <!--<select required name="nearestIskconTemple" formControlName="nearestIskconTemple" id="unchBegins" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="Select Your Nearest Iskcon Temple">-->
                        <!--<option> Iskcon Ghaziabad</option>-->
                        <!--<option> Iskcon Delhi</option>-->
                      <!--</select>-->
                    <!--</div>-->

                    <!--<div class="form-group">-->
                      <!--<label>Your Facilitator Name<small> (Optional)</small></label>-->
                      <!--<select required name="facilitatorName" formControlName="facilitatorName" id="lunchBe" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="None-Selected">-->
                        <!--<option>HG Charu Govind Prabhu Ji</option>-->
                        <!--<option>HG Sarv Mangal Prabhu Ji</option>-->
                      <!--</select>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                      <!--<label>Initiated <small>(Are You Deekshit ?)</small></label>-->
                      <!--<select required name="isInitiated" formControlName="isInitiated" id="lunBegins" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="None-Selected">-->
                        <!--<option>Yes</option>-->
                        <!--<option>No</option>-->
                      <!--</select>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                      <!--<label>How Many Rounds You Chant<small> (Optional)</small></label>-->
                      <!--<input name="roundsChant" formControlName="roundsChant" type="number" class="form-control" placeholder="How Many Rounds You Chant" required>-->
                    <!--</div>-->

                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--&lt;!&ndash;  End step 3 &ndash;&gt;-->


              <!--<div class="tab-pane" id="step3">-->
                <!--<h4 class="info-text"> Finished and submit </h4>-->
                <!--<div class="row">-->
                  <!--<div class="col-sm-12">-->
                    <!--<div>-->
                      <!--<p>-->
                        <!--<label><strong>Terms and Conditions</strong></label>-->
                        <!--I HereBy Accept That I Will Not Post Bad Comment And Always Humble Between Devotess Of Iskcon-->
                      <!--</p>-->

                      <!--<div class="checkbox">-->
                        <!--<label>-->
                          <!--<input type="checkbox" value="123" name="accept" formControlName="accept" [checked]="checkValue()" required/> &nbsp; <strong>Accept termes and conditions.</strong>-->
                        <!--</label>-->
                        <!--&lt;!&ndash;<input type="checkbox" id="scales" name="accept"&ndash;&gt;-->
                               <!--&lt;!&ndash;value="scales" checked />&ndash;&gt;-->
                        <!--&lt;!&ndash;<label for="scales">Scales</label>&ndash;&gt;-->
                      <!--</div>-->

                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--&lt;!&ndash;  End step 4 &ndash;&gt;-->

            </div>

            <div class="wizard-footer">
              <div class="pull-right">
                <input type='button' class='btn btn-next btn-primary' name='next' value='Next' />
                <input type='submit' class='btn btn-finish btn-primary ' name='finish' value='Finish' />

              </div>

              <div class="pull-left">
                <input type='button' class='btn btn-previous btn-default' name='previous' value='Previous' />
              </div>
              <div class="clearfix"></div>
            </div>
          </form>
        </div>
        <!-- End submit form -->
      </div>
    </div>
  </div>
</div>
 <!--<app-footer></app-footer>-->


