<div class="row" style="margin-bottom:15px;margin-left: 25px;margin-right: 15px  ">
<h1 style="text-align: center">User Role Mapping</h1>
<h4 *ngIf="hideView" style="text-align: center">No User to Map</h4>
  <app-quotes-carousel></app-quotes-carousel>
<div class="col-md-4 col-lg-4 col-sm-6" *ngIf="!hideView">
  <!--<i class="fa fa-search" aria-hidden="true"></i>&nbsp;-->
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search by name">
  </mat-form-field>

</div>
  <div class="col-md-4 col-lg-4 col-sm-6">
    <mat-form-field>
      <mat-select placeholder="Search by Current Roles">
        <mat-option value="IYFVolunteer">IYF Volunteer</mat-option>
        <mat-option value="USER">USER</mat-option>
        <mat-option value="ADMIN">ADMIN</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-md-12" *ngIf="!hideView">
    <div class="example-container mat-elevation-z8 ">
      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

        <ng-container matColumnDef="sNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> SNo. </th>
          <td mat-cell *matCellDef="let user ; let i = index;">
            {{ (currentpage - 1) * pageSize + i +1 }}
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let user"> {{user.userName}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let user"> {{user.email}} </td>
        </ng-container>

        <ng-container matColumnDef="currentRole">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Current Role </th>
          <td mat-cell *matCellDef="let user"> {{user.currentRole}} </td>
        </ng-container>

        <ng-container matColumnDef="selectRole">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Select Role</th>
          <td mat-cell *matCellDef="let user">
            <mat-select [(value)]="user.role">
              <mat-option value="IYFVolunteer">IYF Volunteer</mat-option>
              <mat-option value="USER">USER</mat-option>
              <mat-option value="ADMIN">ADMIN</mat-option>

            </mat-select>
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
          <td mat-cell *matCellDef="let user" (click)="$event.stopPropagation()">
          <button type="button" class="mat-raised-button" style="background-color: #FDC600;" (click)="assignRole(user)">Assign role</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row ; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[1,2,10]" showFirstLastButtons
                     [pageSize]="10"
                     [length]="totalpage"
                     (page)="onPaginateChange($event)"></mat-paginator>
    </div>
</div>
<!--<div *ngIf="role == 'USER'">-->

<!--</div>-->

</div>
