<div class="row">
  <div class="content-area home-area-1 recent-property" style="background-color: #FCFCFC; padding-bottom: 55px;">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
          <!-- /.feature title -->
          <h2 style="color: black">Welcome Admin!</h2>

          <p>Seminars aimed towards giving a deeper and much more meaningful prespective to world events, our work and our Life itself.</p>
        </div>
      <!--</div>-->

      <div class="row">
        <div class="proerty-th">
          <div class="col-sm-6 col-md-4 p0">
            <div class="box-two proerty-item">
              <div class="item-thumb">
                <a href="#" ><img src="assets/img/seminar/3.png"></a>
              </div>
              <div class="item-entry overflow">
                <h5><a href="#" > Courses </a></h5>
                <!--<div class="dot-hr"></div>-->
                <!--<span class="pull-left"><b>Area :</b> 120m </span>-->
                <!--<span class="proerty-price pull-right">$ 300,000</span>-->
              </div>
              <a href="/create-course"> <button mat-raised-button (click)="createCourse()" data-wow-delay="0.45s"><strong>Create</strong></button></a>
              <a href="/view-course"> <button mat-raised-button (click)="viewCourse()" data-wow-delay="0.45s"><strong>View</strong></button></a>
            </div>
          </div>

          <div class="col-sm-6 col-md-4 p0">
            <div class="box-two proerty-item">
              <div class="item-thumb">
                <a href="#" ><img src="assets/img/seminar/5.png"></a>
              </div>
              <div class="item-entry overflow">
                <h5><a href="#" > Sessions </a></h5>
              </div>

              <a href="/create-session"> <button mat-raised-button (click)="createSession()" data-wow-delay="0.45s"><strong>Create</strong></button></a>
              <a href="/view-session"> <button mat-raised-button (click)="viewSession()" data-wow-delay="0.45s"><strong>View</strong></button></a>
            </div>
          </div>

          <div class="col-sm-6 col-md-4 p0">
            <div class="box-two proerty-item">
              <div class="item-thumb">
                <a href="#" ><img src="assets/img/seminar/7.png"></a>
              </div>
              <div class="item-entry overflow">
                <h5><a href="#" > Seminars </a></h5>
              </div>

              <a href="/create-seminar"> <button mat-raised-button (click)="createSeminar()" data-wow-delay="0.45s"><strong>Create</strong></button></a>
              <a href="/view-seminar"> <button mat-raised-button (click)="viewSeminar()" data-wow-delay="0.45s"><strong>View</strong></button></a>
            </div>
          </div>


        </div>
