<div class="row">
  <div class="text-center centerdiv">
    <div class="col-md-12 col-xs-12">
      <div style="padding: auto;margin-top: 10px;margin-bottom: 20px;justify-content: center">

      <mat-card>
        <mat-card-content>
    <mat-card-title>Create Course</mat-card-title>


      <form [formGroup]="courseForm" >
        <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Course Title" formControlName="title" required >
          <mat-error *ngIf="courseForm.get('title').hasError('required')">
            Please Enter Course Title
          </mat-error>

        </mat-form-field>



        <mat-form-field>
          <input matInput placeholder="Course Description" formControlName="description" type="text" required>
          <mat-error *ngIf="courseForm.get('description').hasError('required')">
            Please Enter Course Description
          </mat-error>
        </mat-form-field>



        <mat-form-field>
          <mat-select placeholder="Vedic Level" formControlName="vedicLevel" required>
            <mat-option value="vl1">Vedic Level 1</mat-option>
            <mat-option value="vl2">Vedic Level 2</mat-option>
            <mat-option value="vl3">Vedic Level 3</mat-option>
            <mat-option value="vl4">Vedic Level 4</mat-option>
            <mat-option value="vl5">Vedic Level 5</mat-option>
          </mat-select>
          <mat-error *ngIf="courseForm.get('description').hasError('required')">
            Please Enter Vedic Level
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Course type" formControlName="courseType" required>
            <mat-option value="general">General</mat-option>
            <mat-option value="scientific">Scientific</mat-option>
          </mat-select>
          <mat-error *ngIf="courseForm.get('description').hasError('required')">
            Please Enter Course Type
          </mat-error>
        </mat-form-field>


        <mat-form-field>
          <mat-select placeholder="Gender of allowed candidates" formControlName="gender" required>
            <mat-option value="male">Male</mat-option>
            <mat-option value="female">Female</mat-option>
          </mat-select>
          <mat-error *ngIf="courseForm.get('description').hasError('required')">
            Please Enter Gender of allowed Candidates
          </mat-error>
        </mat-form-field>


        </div>
        <button mat-raised-button (click)="createCourse()">Create</button>
      </form>

    </mat-card-content>

  </mat-card>

</div>
</div>
  </div>
</div>
