<!--The content below is only a placeholder and can be replaced.-->

<app-login></app-login>
<app-register></app-register>
<!--<app-header></app-header>-->

  <!--<div class="row">-->
    <!--<div class="text-center centerdiv">-->
    <!--<div class="col-md-6 col-xs-12">-->
      <!--<div style="padding: auto;margin-top: 10px;margin-bottom: 20px;justify-content: center">-->

        <!--<mat-card>-->
          <!--<mat-card-content>-->
            <!--<mat-card-title>-->
              <!--Login Form-->
            <!--</mat-card-title>-->
            <!--<div class="example-container">-->

              <!--<mat-form-field>-->
                <!--<input matInput placeholder="Input">-->
              <!--</mat-form-field>-->

              <!--<mat-form-field>-->
                <!--<textarea matInput placeholder="Textarea"></textarea>-->
              <!--</mat-form-field>-->

              <!--<mat-form-field>-->
                <!--<mat-select placeholder="Select">-->
                  <!--<mat-option value="option">Option</mat-option>-->
                <!--</mat-select>-->
              <!--</mat-form-field>-->
            <!--</div>-->
          <!--</mat-card-content>-->
        <!--</mat-card>-->

      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->




<!--<app-footer></app-footer>-->

