<div class="row" style="margin: 20px 20px 20px 20px">
  <div class="col-md-2" class="text-center">
     <span style="color: black">
       <h1><strong>OverAll Seminars</strong></h1>
    </span>
  </div>
</div>
<div class="row" style="margin: 20px 20px 20px 20px">
  <div class="col-md-10">


    <div class="col-sm-6 col-md-4 p0">
      <div class="box-two proerty-item">
        <div class="item-entry overflow">
         <h4>
          <div> <strong>Topic :</strong>  hare krishna  </div>
           <div> <strong>Date :</strong> hare krishna </div>
           <div> <strong>Speaker Name :</strong> hare krishna  </div>

         </h4>
        </div>

        <a routerLink="/markSeminarAttendance/1"> <button mat-raised-button  data-wow-delay="0.45s"><strong>Create</strong></button></a>
        <!--<a href="/view-session"> <button mat-raised-button data-wow-delay="0.45s"><strong>View</strong></button></a>-->
      </div>
    </div>


  </div>
</div>
