<div class="boy-sale-area">
  <h2 style="color: black;margin-top: -25px;margin-bottom: 25px" class="text-center"> ABOUT IYF </h2>
  <div class="container">
    <div class="row">
      <p class="col-md-10 col-lg-10 col-centered">
        <h3 style="color: red">ISKCON YOUTH FORUM, GHAZIABAD</h3>
        <p style="color: darkslategrey">Happiness and the true fulfillment of the soul and unending success have been the goals of humanity from eternity. The purpose of life is a life of purpose and what makes a life valuable is the perfect blend of knowledge, skills and values. Most of us simply go through life but in the pursuit of going through life, we forget to grow through life. Therefore the reality is” one cannot upload love, one can’t download time, one can’t google all of the life’s answers therefore one must actually live some of his life. ISKCON Youth Forum (IYF) is the youth wing of Sri Sri Radha Parthasarathi Temple, a branch of the International Society for Krishna Consciousness (ISKCON). IYF is aimed towards nourishing the hearts of today's youth with the sublime message of the scriptures and helping them flourish in their lives in a wholesome manner.
        </p>
        <b style="color: black">Spirit of IYF</b>
        <p style="color: darkslategrey">For a sincere human being to live a life of pure principles is a great challenge. ISKCON youth Forum is serving as an oasis in the sense that it is ‘life-giving and transforming’ society in a stress –ridden fast-paced rat race society’ that is like a desert. Thus ISKCON Youth Forum is committed to provide a facility like an Oasis in the middle of a desert to keep oneself surcharged in remembrance of the Supreme Lord, Sri Krishna always. The inspiration is the spiritual inspiration to practice devotion to God with full enthusiasm and developing the spiritual knowledge which acts like a beacon in the sea like unending mysteries of life. IYF is striving towards rekindling the wisdom and reviving their loving and serving propensities.
        </p>
        <b style="color: black">Mission</b>
        <p style="color: darkslategrey">Change is an inevitable part of the life and history has witnessed numerous revolutions as part of the change. Most of these revolutions were spearheaded and lead by the youths only. As India makes rapid advancements in the field of technology and is recognized the world over for its vast and untapped resources, especially the ‘human’ resource, with 55% of the population in the age group of 18-25, the future seems bright. But along with this euphoria, there is also a darker side to the reality; one that finds today’s youth battling with drug and alcoholic addictions, pre and post marital infidelities and mental depressions. Therefore ISKCON Youth Forum has ventured into wisdom literatures with the desire to bring about positive revolutions in the misguided life of modern youths. Now ISKCON Youth Forum has taken a good shape in many prestigious cities of India.
        </p>
        <p style="color: darkslategrey">
          The goals of IYF are as follow:</p>
          <ul style="color: darkslategrey">
        <li>Training in soft skills like Public Speaking, Stress management, Leadership and Management by the application of the timeless wisdom in the modern scenario.</li>
        <li>Bringing out the potential in the individual like Concentration, Motivation, Self Confidence etc.</li>
        <li>Blending the character with competence in bringing about A Long Enduring Success.</li>
        <li>Dealing With Sensitivity And self-awareness In Thought, Words And Action.</li>
        <li>Organizing Outing For Experiencing Closer Touch With The Nature And The Marvelous Gift Of The Supreme Divine.</li>
      </ul>
      </div>
    <br/>
    <h2 style="text-align: center; color: black">FAQs</h2>
      <mat-accordion>
        <mat-expansion-panel [expanded]="true" >
          <mat-expansion-panel-header  style="background-color: #FDC600">
            <mat-panel-title>
              <h3>Is spirituality practical and relevant in modern world scenario?</h3>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Spirituality is complementary to all other endeavors- No matter how fast paced our life becomes, the
            practical purpose of all our activities always remains happiness. Spirituality reveals to us the best form
            of happiness, a happiness that can never be taken away from us.</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header  style="background-color: #FDC600">
            <mat-panel-title>
              <h3>Why should I give my time to regular spiritual programs?</h3>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Quality time must be devoted for mastering the art of living. Sharpening the axe- Just as a woodcutter
            uses axe to cut the trees but in order to cut the trees efficiently and save time, he must spend some time
            to sharpen the axe. Similarly, when we sharpen our axe of intelligence and learn the words of wisdom by
            regularly coming to spiritual programs, we take a step forward in becoming successful.</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
