.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

button{
  background-color: #FDC600;
  font-weight: bold;
}


.timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  margin: 1em;
}

.demo-form {
  padding: 4em;
}
