<div class="loginForm">
  <form>
  <h2 mat-dialog-title>Seminar Created Successfully!</h2>
  <mat-dialog-content>What you want to do now?</mat-dialog-content>
  <mat-dialog-actions style="margin: auto;padding: auto;float: right">
    <button mat-raised-button (click)="viewCreatedSeminar()">View Created Seminar</button>
    <button mat-raised-button (click)="goToAdminPanel()">Go to admin Panel</button>
    <button mat-raised-button (click)="close()">Create another seminar</button>
  </mat-dialog-actions>
  </form>
</div>
