<div class="container-fluid" style="margin: 20px;">
  <div class="row">
    <div class="center">
      <mat-card>
        <mat-card-title>Art of Harnessing Mind</mat-card-title>
        <img mat-card-image src="../../../assets/img/bgkrishnaimgae.jpg">
        <mat-card-subtitle>HG Adbhuta Narsimha Prabhu</mat-card-subtitle>
        <mat-card-subtitle>12 August 2018</mat-card-subtitle>
        <mat-card-content>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed vel lectus. Donec odio tempus molestie, porttitor ut, iaculis quis, sem. Nulla est. Nulla non lectus sed nisl molestie malesuada. Curabitur ligula sapien, pulvinar a vestibulum quis, facilisis vel sapien. Pellentesque sapien. Donec ipsum massa, ullamcorper in, auctor et, scelerisque sed, est. Duis viverra diam non justo. Fusce dui leo, imperdiet in, aliquam sit amet, feugiat eu, orci. Duis sapien nunc, commodo et, interdum suscipit, sollicitudin et, dolor. Cras pede libero, dapibus nec, pretium sit amet, tempor quis.</p>
          <p>Mauris metus. Fusce suscipit libero eget elit. Aliquam ante. Nullam eget nisl. Donec iaculis gravida nulla. Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam. Fusce nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Aliquam erat volutpat. Aliquam ornare wisi eu metus. Aliquam in lorem sit amet leo accumsan lacinia. Fusce wisi. Maecenas ipsum velit, consectetuer eu lobortis ut, dictum at dui. Donec iaculis gravida nulla. Mauris suscipit, ligula sit amet pharetra semper, nibh ante cursus purus, vel sagittis velit mauris vel metus.</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button color="accent" href="#"><strong>BOOK SEAT NOW</strong></button>
        </mat-card-actions>
      </mat-card>


    </div>
  </div>
</div>
