<div class="container-fluid" style="margin: 20px;">
  <div class="row">
    <div class="center">
      <mat-card>
        <mat-card-title>{{seminar.title}}</mat-card-title>
        <img mat-card-image src={{seminar.thumbNailUrl}}>
        <mat-card-subtitle>{{seminar.speakerName}}</mat-card-subtitle>
        <mat-card-subtitle>{{seminar.date}}</mat-card-subtitle>
        <mat-card-subtitle>Starting from {{seminar.startTime}} till {{seminar.endTime}}</mat-card-subtitle>
        <!--<mat-card-content>-->
          <!--<h3 style="text-align: center">Seminar description</h3>-->
          <!--<p>{{seminar.speakerDescription}}</p>-->
          <!--<p>Mauris metus. Fusce suscipit libero eget elit. Aliquam ante. Nullam eget nisl. Donec iaculis gravida nulla. Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam. Fusce nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Aliquam erat volutpat. Aliquam ornare wisi eu metus. Aliquam in lorem sit amet leo accumsan lacinia. Fusce wisi. Maecenas ipsum velit, consectetuer eu lobortis ut, dictum at dui. Donec iaculis gravida nulla. Mauris suscipit, ligula sit amet pharetra semper, nibh ante cursus purus, vel sagittis velit mauris vel metus.</p>-->
        <!--</mat-card-content>-->
        <mat-card-content>
          <h3 style="text-align: center">About Speaker</h3>
          <p>{{seminar.speakerDescription}}</p>
        </mat-card-content>
        <h4 style="text-align: center;">Seats: {{seminar.totalNumberOfAvailableSeats}}/{{seminar.totalNumberOfSeats}}</h4>
        <mat-card-actions>
          <button mat-stroked-button color="accent" href="#"><strong>BOOK SEAT NOW</strong></button>
        </mat-card-actions>
      </mat-card>


    </div>
  </div>
</div>
