<div class="loginForm">
<div *ngIf="invalidMessage != null" style="color: red">
  {{invalidMessage}}
</div>
  <h2 mat-dialog-title> Login Here </h2>
<form [formGroup]="loginForm" >
  <mat-dialog-content >

    <mat-form-field>
      <input matInput
             placeholder="Your Email"
             formControlName="username" type="email" required>
      <mat-error *ngIf="loginForm.get('username').hasError('required')">
        Please Enter Your Email
      </mat-error>
      <mat-error *ngIf="loginForm.get('username').hasError('email')">
        Please Enter Correct Email
      </mat-error>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput
             placeholder="Password"
             formControlName="password" type="password" required>
      <mat-error *ngIf="loginForm.get('password').hasError('required')">
        Please Enter Your Password
      </mat-error>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions style="margin: auto;padding: auto;float: right">
    <button mat-raised-button class=" mat-primary" (click)="login(event)">Login</button>
    <button mat-raised-button (click)="close()">Close</button>
  </mat-dialog-actions>

</form>


</div>

